/* Global */
:root {
    /* Color */
    --color-black: #000000;
    --color-white: #fff3ff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #d17bb6;
    --color-dark-pink: #9e4c86;
    --color-violet: #b388ff;
    --color-light-violet: #e7b9ff;
    --color-dark-violet: #805acb;
    --color-grey: #cfb8ff;
    --color-dark-grey: #4d4d4d;
    --color-light-grey: #7c7979;
    --color-blue: #8c9eff;
    --color-light-blue: #c0cfff;
    --color-dark-blue: #5870cb;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 32px;
    --font-regualr: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

}

/* Universal tags  */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regualr);
    font-weight: var(--font-regualr);
    color:var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regualr);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}


#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-violet); 
    align-items: center;
    padding: 16px;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);  
    display: flex;
}


.img-logo {
    width: 37px;
    height: 30px;
}

.navbar__menu {
    display: flex;
    color: var(--color-white);
    font-size: var(--font-regualr);
    font-weight: var(--weight-regular);

}

.navbar__menu__item {
  padding: 8px 12px;
   margin: 0 4px; 
   cursor: pointer;
   border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
   border: 1px solid var(--color-white); 
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-violet);    
}

